body{

margin:0;
font-family:Arial;
background:#f4f6fb;

}

/* Navbar */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 40px;

background:#667eea;
color:white;

}

.nav-right{

display:flex;
gap:10px;

}

.nav-right input{

padding:8px;
border-radius:5px;
border:none;

}

.nav-right button{

padding:8px 12px;
border:none;
border-radius:5px;
cursor:pointer;

}


/* Welcome */

.welcome{

display:flex;
justify-content:space-between;
align-items:center;

padding:30px 40px;

}

/* Profile */

.profile{

display:flex;
align-items:center;
gap:20px;

}

/*.profile img{

width:70px;
height:70px;
border-radius:50%;
object-fit:cover;
border:3px solid #667eea;

}*/

.uploadLabel{

font-size:14px;
cursor:pointer;
color:#667eea;

}

.uploadLabel input{

display:none;

}


/* Card */

.card{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

text-align:center;

}


/* Dashboard layout */

.dashboard{

display:flex;
gap:40px;

padding:20px 40px;

}


/* Form */

.form-section{

background:white;

padding:25px;

border-radius:10px;

width:300px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

.form-section input,
.form-section select{

width:100%;

padding:10px;

margin:10px 0;

border-radius:6px;

border:1px solid #ccc;

}

.form-section button{

width:100%;

padding:10px;

background:#667eea;

color:white;

border:none;

border-radius:6px;

cursor:pointer;

}

.form-section button:hover{

background:#5563d1;

}


/* Table */

.table-section{

flex:1;

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 5px 15px rgba(217, 6, 6, 0.1);

}

table{

width:100%;
border-collapse:collapse;

}

th,td{

padding:12px;
border-bottom:1px solid #ddd;
text-align:left;

}

th{

background:#6381f6;

}

.contact-photo{

width:40px;
height:40px;
border-radius:50%;

}


/* Buttons */

.edit-btn{

background:#f39c12;
border:none;
padding:6px 10px;
color:white;
border-radius:5px;
cursor:pointer;

}

.delete-btn{

background:#e74c3c;
border:none;
padding:6px 10px;
color:white;
border-radius:5px;
cursor:pointer;

}


/* Dark Mode */

.dark-mode{

background:#1e1e1e;
color:white;

}

.dark-mode .card,
.dark-mode .form-section,
.dark-mode .table-section{

background:#2b2b2b;
color:white;

}