body{

margin:0;
font-family:Arial;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#667eea,#764ba2);

}

.container{

width:100%;
display:flex;
justify-content:center;
align-items:center;

}

.form-box{

background:white;
padding:40px;
border-radius:12px;

width:350px;

box-shadow:0px 10px 25px rgba(0,0,0,0.2);

text-align:center;

}

h2{

margin-bottom:25px;
color:#333;

}

input{

width:100%;
padding:12px;
margin:10px 0;

border-radius:8px;
border:1px solid #ccc;

font-size:14px;

}

input:focus{

outline:none;
border-color:#667eea;

}

button{

width:100%;
padding:12px;
margin-top:15px;

border:none;
border-radius:8px;

background:#667eea;
color:white;

font-size:16px;
cursor:pointer;

}

button:hover{

background:#5a67d8;

}

.bottom-text{

margin-top:15px;
font-size:14px;

}

.bottom-text a{

color:#667eea;
text-decoration:none;
font-weight:bold;

}

.bottom-text a:hover{

text-decoration:underline;

}