body{
margin:0;
font-family:Arial;
height:100vh;

background-image:url("https://images.unsplash.com/photo-1498050108023-c5249f4df085");
background-size:cover;
background-position:center;
}


.overlay{

height:100vh;
background:rgba(0,0,0,0.6);

display:flex;
justify-content:center;
align-items:center;
text-align:center;

}

.content{

color:white;
max-width:600px;

}

h1{

font-size:48px;
margin-bottom:20px;

}

p{

font-size:18px;
margin-bottom:30px;

}

button{

padding:15px 30px;
font-size:18px;
border:none;
background:#007bff;
color:white;
border-radius:25px;
cursor:pointer;

}

button:hover{

background:#0056b3;

}